body{
    background-color: rgb(150, 150, 240);
}
#startBtn, #submit {
    background-color: cornflowerblue;
    width: 10%;
    height: 50px;
    margin-bottom: 50px;
}

#time,.questions{
    font-size: 25px;
    color: navy;
}


